* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IMPORTED FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS VAR */
:root {
  --bg-primary: #1a0b2e;
  --bg-secondary: #230e3d;
  --bg-card: rgba(53, 17, 101, 0.4);
  --text-primary: #ffffff;
  --text-special: #00ff88;
  --gradient: linear-gradient(30deg, #f7e93f 0%, #fb09b4 48%, #9100f8 100%);
  --font-heading-banner: 3.75rem;
  --font-heading: 3rem;
  --font-special: 2rem;
  --font-title: 1.5rem;
  --font-primary: 1rem;
  --font-badge: 1.125rem;
  --xx-bold: 900;
  --x-bold: 800;
  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;
  --thin: 300;
}

/* SHARED CSS START */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
  display: flex;
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: auto;
}
.section-title {
  font-size: var(--font-heading);
  font-weight: var(--bold);
  margin-bottom: 16px;
}
.section-description {
  font-size: var(--font-primary);
  font-weight: var(--regular);
  line-height: 1.25rem;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}

.primary-btn {
  background: var(--gradient);
  padding: 12px 16px;
  font-size: var(--font-primary);
  font-weight: var(--semibold);
  color: var(--text-primary);
  border: none;
  border-radius: 40px;
}

.border-bottom {
  border-bottom: 1px solid #412567;
}

/* SHARED CSS END */

/* MAIN CSS START */
body {
  background-color: var(--bg-primary);
}
/* HEADER RELATED CSS */
header {
  background-color: var(--bg-primary);
}

#navbar {
  height: 92px;
  align-items: center;
  justify-content: space-between;
}

.logo > a > h1 {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
}

nav > .logo > a > h1 > #logo-gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu-links {
  gap: 32px;
  list-style: none;
}

.menu-links > li > a {
  color: var(--text-primary);
  font-size: var(--font-primary);
  font-weight: var(--medium);
}

.nav-btn > #menubar {
  display: none;
  color: var(--text-primary);
  background: transparent;
  border: none;
  font-size: var(--font-title);
}
/* BANNER RELATED CSS */
#banner {
  position: relative;
  background-image:
    url("../images/microphone.png"), url(../images/hero-circle.png),
    url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position:
    center 35%,
    center 32%,
    top;
  background-size: auto, 21%, 100%;
  height: 800px;
}
#banner > .badges {
  position: absolute;
  left: 55%;
  top: 20%;
}

#banner > .badges > span {
  color: black;
  font-size: var(--font-badge);
  background-color: var(--text-special);
  padding: 8px 16px;
  border-radius: 30px;
  box-shadow: 0 3px 27px 0 #00ff8885;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  padding-bottom: 50px;
}

.banner-context {
  text-align: center;
}
.banner-title {
  font-size: var(--font-heading-banner);
  color: var(--text-primary);
  font-weight: var(--x-bold);
}
.banner-description {
  font-size: var(--font-primary);
  color: var(--text-primary);
  font-weight: var(--regular);
}
.banner-btns {
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}
.subscribe-btn {
  border: 1px solid var(--text-special);
  border-radius: 30px;
  color: var(--text-special);
  padding: 12px 16px;
  background: none;
  font-size: var(--font-primary);
  font-weight: var(--semibold);
}

/* ABOUT RELATED CSS START */
.about-content {
  text-align: center;
  color: var(--text-primary);
  margin: 50px auto;
}

.about-centext{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
}



/* MAIN CSS END */
