* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IMPORTED FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* CSS VAR */
:root {
  --bg-primary: #1a0b2e;
  --bg-secondary: #230e3d;
  --bg-card: rgba(53, 17, 101, 0.4);
  --text-primary: #ffffff;
  --text-special: #00ff88;
  --gradient: linear-gradient(30deg, #f7e93f 0%, #fb09b4 48%, #9100f8 100%);
  --font-heading-banner: 3.75rem;
  --font-heading: 3rem;
  --font-special: 2rem;
  --font-title: 1.5rem;
  --font-primary: 1rem;
  --font-badge: 1.125rem;
  --xx-bold: 900;
  --x-bold: 800;
  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;
  --thin: 300;
}

/* SHARED CSS START */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
  display: flex;
}
.container {
  width: 75%;
  max-width: 1440px;
  margin: auto;
}
.section-title {
  font-size: var(--font-heading);
  font-weight: var(--bold);
  margin-bottom: 16px;
  text-align: center;
  color: var(--text-primary);
}
.section-description,
.card-description {
  font-size: var(--font-primary);
  font-weight: var(--regular);
  line-height: 1.25rem;
  opacity: 60%;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}

.primary-btn {
  background: var(--gradient);
  padding: 12px 16px;
  font-size: var(--font-primary);
  font-weight: var(--semibold);
  color: var(--text-primary);
  border: none;
  border-radius: 40px;
}

.border-bottom {
  border-bottom: 1px solid #412567;
}

/* SHARED CSS END */

/* MAIN CSS START */
body {
  background-color: var(--bg-primary);
}
/* HEADER RELATED CSS */
header {
  background-color: var(--bg-primary);
}

#navbar {
  height: 92px;
  align-items: center;
  justify-content: space-between;
}

.logo > a > h1 , .footer-logo {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: bold;
}

.logo-gradient   {
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.menu-links {
  gap: 32px;
  list-style: none;
}

.menu-links > li > a {
  color: var(--text-primary);
  font-size: var(--font-primary);
  font-weight: var(--medium);
}

.nav-btn > #menubar {
  display: none;
  color: var(--text-primary);
  background: transparent;
  border: none;
  font-size: var(--font-title);
}
/* BANNER RELATED CSS */
#banner {
  position: relative;
  background-image:
    url("../images/microphone.png"), url(../images/hero-circle.png),
    url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position:
    center 35%,
    center 32%,
    top;
  background-size: auto, 21%, 100%;
  height: 800px;
}
#banner > .badges {
  position: absolute;
  left: 55%;
  top: 20%;
}

#banner > .badges > span {
  color: black;
  font-size: var(--font-badge);
  background-color: var(--text-special);
  padding: 8px 16px;
  border-radius: 30px;
  box-shadow: 0 3px 27px 0 #00ff8885;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  padding-bottom: 50px;
}

.banner-context {
  text-align: center;
}
.banner-title {
  font-size: var(--font-heading-banner);
  color: var(--text-primary);
  font-weight: var(--x-bold);
}
.banner-description {
  font-size: var(--font-primary);
  color: var(--text-primary);
  font-weight: var(--regular);
}
.banner-btns {
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}
.subscribe-btn {
  border: 1px solid var(--text-special);
  border-radius: 30px;
  color: var(--text-special);
  padding: 12px 16px;
  background: none;
  font-size: var(--font-primary);
  font-weight: var(--semibold);
}

/* ABOUT RELATED CSS START */
.about-content {
  text-align: center;
  color: var(--text-primary);
  margin: 50px auto;
}

.about-centext {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* SUMMARY RELATED STYLE */
.summary-content {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.summary-card {
  text-align: center;
}
.summary-heading {
  font-size: var(--font-heading);
  color: var(--text-special);
  font-weight: var(--bold);
}
.summary-name {
  font-size: var(--font-primary);
  font-weight: var(--regular);
  color: var(--text-primary);
  line-height: 1.25rem;
  text-transform: uppercase;
}
/* CHOOSE CARD RELATED CSS */
#choose {
  margin: 80px 0;
  padding: 40px 0;
  background-color: var(--bg-secondary);
}
.audio-card {
  grid-area: audio;
  flex-direction: column;
  justify-content: center;
}
.mobile-card {
  grid-area: mobile;
  flex-direction: column;
  justify-content: center;
}
.global-card {
  grid-area: global;
  flex-direction: column;
  justify-content: center;
}
.exclusive-card {
  grid-area: exclusive;
}
.resources-card {
  grid-area: resources;
}
.choose-content {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio mobile mobile"
    "audio global global"
    "exclusive exclusive resources";
  margin-top: 50px;
}
.choose-card,
.featured-card {
  background-color: var(--bg-card);
  padding: 40px;
  color: var(--text-primary);
  border-radius: 40px;
}
.choose-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.card-title {
  color: var(--text-primary);
  font-size: var(--font-special);
  font-weight: var(--bold);
  margin-bottom: 20px;
}
.card-description {
  color: var(--text-primary);
  font-size: var(--font-primary);
  font-weight: var(--regular);
  line-height: 2rem;
  margin-bottom: 20px;
}

/* FEATURED RELATED STYLE START */

.featured-content {
  justify-content: space-between;
  margin: 50px auto;
}

.featured-card iframe {
  width: 100%;
  border-radius: 40px 40px 0 0;
}

.featured-card {
  width: 31%;
  padding: 0;
}
.featured-context {
  padding: 30px;
}

.video-duration {
  color: var(--text-special);
  font-weight: var(--semibold);
}
/* HOST RELATED STYLE START */
#host {
  margin: 50px 0;
}

.host-content {
  background-color: var(--bg-card);
  
  border-radius: 40px;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

.host-content > .host-img {
  border-radius: 50%;
}

.host-socials {
  gap: 30px;
}

.host-socials a {
  font-size: 1.5rem;
  padding: 15px;
  border: 2px solid #533c72;
  border-radius: 50%;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* FOOTER RELATED STYLE */
footer{
    background: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
    text-align: center;
    
}
.footer-content{
padding: 50px 0;
}

.footer-logo{
    font-size: var(--font-heading);

}

.footer-social-links{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
}

.footer-social-links > a{
    color: var(--text-primary);
    margin-top: 20px;
    margin-bottom: 20px;
}
/* MAIN CSS END */
