/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .menu {
    display: none;
  }
  .sub-btn {
    display: none;
  }
  .nav-btn #menubar{
    display: block;
  }
}
