/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  .menu {
    display: none;
  }
  .sub-btn {
    display: none;
  }
  .nav-btn #menubar {
    display: block;
  }

  #banner {
    min-height: 420px;

    background-image:
      url("../images/microphone.png"), url(../images/hero-circle.png),
      url(../images/mobile-hero-bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position:
      center 24%,
      center 15%,
      top;
    background-size: 12%, 40%, contain;
  }
  #banner > .badges {
    position: absolute;
    top: 8%;
    left: 54%;
  }

  .banner-content {
    padding-top: 180px;
  }
  .banner-title {
    font-size: 2.5rem;
  }

  .about-centext {
    width: 100%;
  }
  .section-title {
    font-size: var(--font-special);
  }

  .summary-content {
    gap: 40px 0;
    flex-wrap: wrap;
  }

  .choose-content {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "exclusive"
      "resources";
  }

  .featured-content {
    flex-direction: column;
    gap: 30px 0;
  }

  .featured-card {
    width: 100%;
  }
  #host {
    padding: 0 20px;
  }
  .host-content {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }
  .host-socials {
    justify-content: center;
  }
  .host-socials a {
    font-size: 1.2rem;
    padding: 12px;
  }

  footer {
    background: url(../images/footer-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    width: 100%;
    min-height: 200px;
  }
  .footer-content {
    padding: 20px 0;
  }
  .footer-logo {
    font-size: 1.5rem;
  }

  .footer-social-links {
    line-height: 0;
    gap: 0 20px;
    flex-wrap: wrap;
  }
  .footer-social-links > a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* RESPONSIVE FOR TABLET */
@media screen and (min-width: 576px) and (max-width: 992px){
    /* CONTAINER */
    .container{
        width: 90%;
    }
}
