/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  .menu {
    display: none;
  }
  .sub-btn {
    display: none;
  }
  .nav-btn #menubar {
    display: block;
  }

  #banner {
    height: 400px;
    background-image:
      url("../images/microphone.png"), url(../images/hero-circle.png),
      url(../images/mobile-hero-bg.png);
    background-repeat: no-repeat;
    background-position:
      center 27%,
      center 18%,
      top;
    background-size: 10%, 40%, contain;
  }
  #banner > .badges {
    position: absolute;
    left: 55%;
    top: 10%;
  }

  .banner-content {
    padding-bottom: 40px;
  }
  .banner-title {
    font-size: 2.5rem;
  }

  .about-centext {
    width: 100%;
  }
  .section-title {
    font-size: var(--font-special);
  }

  .summary-content {
    gap: 40px 0;
    flex-wrap: wrap;
  }

  .choose-content {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "global"
      "exclusive"
      "resources";
  }

  .featured-content {
    flex-direction: column;
    gap: 30px 0;
  }

  .featured-card {
    width: 100%;
  }
  #host {
    padding: 0 20px;
  }
  .host-content {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }
  .host-socials {
    justify-content: center;
  }
  .host-socials a {
    font-size: 1.2rem;
    padding: 12px;
  }

  footer {
    background: url(../images/footer-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    width: 100%;
    min-height: 200px;
  }
  .footer-content {
    padding: 20px 0;
  }
  .footer-logo {
    font-size: 1.5rem;
  }

  .footer-social-links {
    line-height: 0;
    gap: 0 20px;
    flex-wrap: wrap;
  }
  .footer-social-links > a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  #banner {
    height: 450px;
    background-image:
      url("../images/microphone.png"), url(../images/hero-circle.png),
      url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position:
      center 30%,
      center 20%,
      center 30%;
    background-size: 7%, 25%, 100%;
  }
  #banner > .badges {
    position: absolute;
    left: 53%;
    top: 10%;
  }
  .banner-content {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .choose-content {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "audio mobile"
      "global exclusive"
      "resources resources";
  }
}

/* @media screen and (min-width:992px) and (max-width:1400px){
    #banner {
  position: relative;
  background-image:
    url("../images/microphone.png"), url(../images/hero-circle.png),
    url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position:
    center 35%,
    center 32%,
    top;
  background-size: auto, 21%, 100%;
  height: 800px;
}
} */
